<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="HttpObjectCachingAreas" type="HttpObjectCaching.Core.Configuration.CacheRetrieverSection"/>
    <sectionGroup name="applicationSettings"
      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="XmlCaching.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <HttpObjectCachingAreas>
    <entries>
      <add area="Other" class=""/>
      <add area="Permanent" class="HttpObjectCaching.Caches.XmlCacheCombined, XmlCaching"/>
      <add area="Distributed" class="HttpObjectCaching.Caches.TestCache, TestDistributedCache"/>
      <add area="Global" class="HttpObjectCaching.Caches.GlobalCache"/>
      <add area="Cookie" class="HttpObjectCaching.Caches.CookieCache"/>
      <add area="Session" class="HttpObjectCaching.Caches.SessionCache"/>
      <add area="Request" class="HttpObjectCaching.Caches.RequestCache"/>
      <add area="Thread" class="HttpObjectCaching.Caches.ThreadCache"/>
      <add area="None" class="HttpObjectCaching.Caches.NoCache"/>
    </entries>
  </HttpObjectCachingAreas>

  <applicationSettings>
    <XmlCaching.Properties.Settings>
      <setting name="CacheFileLocation" serializeAs="String">
        <value>~\App_Data\Cache</value>
      </setting>
      <setting name="UseOneFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WriteMode" serializeAs="String">
        <value>Binary</value>
      </setting>
      <setting name="MaxFileSizeMB" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="SecondsInMemory" serializeAs="String">
        <value>60</value>
      </setting>
    </XmlCaching.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
